@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@mixin landscape-image($url) {
  background-image: url($url);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.app-component {
  background-color: grey;

  .app-component__landscape {
    @include landscape-image('../assets/images/landscape1.jpeg');

    @media screen and (max-width: 576px ) {
      background-image: url('../assets/images/lanscape-mobile.jpeg');
    }
  }

  .app-component__grid {
    overflow-x: hidden;

    >div {
      height: 501px;
      padding: 0;
      transition: transform 0.5s 0.4s;
      &:hover {
        >div {
          filter: blur(3px);
          -webkit-filter: blur(3px);
        }

        svg {
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }

    >div.fold:nth-child(odd) {
      transform: translateX(-50%);
      transition: transform 0.5s 0s;
    }

    >div.fold:nth-child(even) {
      transform: translateX(50%);
      transition: transform 0.5s 0s;
    }

    svg {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.5);
      &:hover {
        cursor: pointer;
      }

      text {
        font-family: 'Roboto';
        font-size: 30px;
      }
    }

    .grid-1 {
      .grid-bg-image {
        @include landscape-image('../assets/images/grid-1.jpeg');
        height: 100%;
        width: 100%;
      }
    }
    .grid-2 {
      .grid-bg-image {
        @include landscape-image('../assets/images/grid-2.jpeg');
        height: 100%;
        width: 100%;

      }
    }
    .grid-3 {
      .grid-bg-image {
        @include landscape-image('../assets/images/grid-3.jpeg');
        height: 100%;
        width: 100%;

      }
    }
    .grid-4 {
      .grid-bg-image {
        @include landscape-image('../assets/images/grid-4.jpeg');
        height: 100%;
        width: 100%;

      }
    }

    .middle-content {
      visibility: hidden;

      &.fold-content {
        visibility: visible;
      }
    }
  }

  .app-component__reviews {
    background-color: #ffffff;
    max-height: 450px;
    overflow-y: auto;

    .reviews-container {
      div {
        margin: 1px;
      }
    }

    h1 {
      color: #000000;
    }

    .avatar {
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .app-component__form {
    background-color: #000000;

    h1 {
      color: #ffffff;
    }

    form {
      text-align: left;

      label {
        color: #ffffff;
      }
      input, textarea {
        background-color: lightgray;
      }

      button {
        width: 150px;
      }

      ::ng-deep {
        ngb-rating {
          span {
            font-size: 25px;
            color: goldenrod;
            padding: 2px;
          }
        }
      }
    }
  }

  .app-component__footer {
    background-color: black;
    color: lightgray;

    .company {
      a {
        color: lightgrey;
        &:hover {
          color: white;
        }
      }
    }
    i.heart {
      color: #eb5e28;
      animation: 1s infinite heathing;
    }

    a {
      font-size: 20px;
    }

    .contact-details {
      a, i {
        font-size: 13px;
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }
  }

  // Heart Heathing Animation
  @keyframes heathing {
    0% { transform: scale( .75 ); }
    20% { transform: scale( 1 ); }
    40% { transform: scale( .75 ); }
    60% { transform: scale( 1 ); }
    80% { transform: scale( .75 ); }
    100% { transform: scale( .75 ); }
  }

  // Styling for SVG Border Animation
  .shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -294;
    stroke-width: 6px;
    fill: transparent;
    stroke: #000000;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }

  .svg-container:hover .shape {
    stroke-width: 6px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
  }
}


