<div class="app-component d-flex flex-column text-center">
  <div class="app-component__landscape min-vh-100">
  </div>
  <div class="app-component__grid min-vh-100 d-flex flex-column flex-md-row flex-md-wrap">
    <div class="grid-1 svg-container col-12 col-md-6 d-flex flex-fill justify-content-center align-items-center">
        <div class="grid-bg-image">

        </div>
        <svg height="60" width="200" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="200" />
          <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">about</text>
        </svg>
    </div>
    <div class="grid-2 svg-container col-12 col-md-6 d-flex flex-fill justify-content-center align-items-center">
        <div class="grid-bg-image">

        </div>
        <svg height="60" width="200" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="200" />
          <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">resume</text>
        </svg>
    </div>
    <div class="grid-3 svg-container col-12 col-md-6 d-flex flex-fill justify-content-center align-items-center">
        <div class="grid-bg-image">

        </div>
        <svg height="60" width="200" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="200" />
          <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">projects</text>
        </svg>
    </div>
    <div class="grid-4 svg-container col-12 col-md-6 d-flex flex-fill justify-content-center align-items-center">
        <div class="grid-bg-image">

        </div>
        <svg height="60" width="200" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="200" />
          <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">blog</text>
        </svg>
    </div>
  </div>
  <div class="app-component__form">
    <p> Form </p>
  </div>
  <div class="app-component__reviews">
      <p>Reviews</p>
  </div>
  <div class="app-component__footer text-center">
    <p> Footer</p>
  </div>
</div>
